{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>
    <div>
        <p>
            For project 4 you must use the following repository to create a program that allows a user to
            register, login, and upload the CSV file included with the project repository. The user dashboard must
            display
            a table of transactions, and it must display the current balance of the account based on the transactions.
            The starting balance of the account is 0 and is determined by adding and subtracting debits and credits to
            the
            account that are identified as such in the CSV file.
        </p>
    <h1>Requirements:</h1>
        <ol type="1">
            <li>Your project must have a log file with an entry for each time a user uploads a CSV account transaction
                file.
            </li>
            <li>There must be a test to verify that the CSV file is uploaded and processed</li>
            <li>You must create a database record that is related to the user record for each transaction</li>
            <li>You must calculate a balance and have a test for this</li>
            <li>You must have a test for login, a test for registration, a test for accessing the dashboard as a
                logged-in
                user, and a test for denying access to the dashboard, and denying access to uploading the CSV file
            </li>
            <li>You will need to have your app work with a dev, prod, and testing configuration file to control the
                behavior of the program in different environments.
            </li>
        </ol>
    </div>

{% endblock %}
</article>